@using TravelBlog.Models.Siniflar
@model List<Hakkimizda>

@{
    ViewBag.Title = "HakkimizdaListesi";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>HakkimizdaListesi</h2>

<table class="table table-bordered">
    <tr>
        <th>Id</th>
        <th>Foto Url</th>
        <th>Açıklama</th>
        <th>Güncelle</th>
    </tr>
    @foreach (var x in Model)
    {
        <tr>
            <td>@x.ID</td>
            <td>@x.FOTOURL</td>
            <td>@x.ACIKLAMA</td>
            <td><a href="/Admin/HakkimizdaGetir/@x.ID" class="btn btn-warning">Güncelle</a></td>
        </tr>
    }
</table>