@using TravelBlog.Models.Siniflar;
@model List<Hakkimizda>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<div class="content">
    <div class="wrap">
        <div class="about">
            <h3>Hakkımızda</h3>
            @foreach (var x in Model)
            {
                <img src="@x.FOTOURL" alt="TravelImage" style="height:425px; width:950px" />
                <p>@x.ACIKLAMA</p>
            }
        </div>
    </div>
</div>